<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>{% block title %} Food | Home {% endblock %}</title>
</head>
<body class="d-flex flex-column min-vh-100">
    <header>
      {% if user.is_authenticated %}
        <div class="col-12 mt-0 bg-success py-1"></div>
      {% else %}
        <div class="col-12 mt-0 bg-danger py-1"></div>
      {% endif %}
        <!-- navbar -->
          <nav class="navbar navbar-expand navbar-light bg-light border-bottom border-5">
            <div class="container">
              <a class="navbar-brand" href="#">Food Blog</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                  </li>
                  {% if user.is_authenticated %}
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'new_blog' %}">New Blog</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                  {% else %} 
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </nav>
        <!-- navbar end -->
        {% if user.is_authenticated %}
          <div class="col-12 mt-0 bg-success py-1"></div>
        {% else %}
          <div class="col-12 mt-0 bg-danger py-1"></div>
        {% endif %}
    </header>

    <div class="container bg-light">
    {% block content %}

    
    {% endblock %}
    </div>
    <!-- footer -->
    <div class="container mt-auto bg-light">
        <footer class="rounded-pill bg-light border border-5">
        <div class="container p-4 pb-0">
            <div class="row d-flex justify-content-evenly">
            <div class="col-lg-6 col-md-12 mb-0">
                <h5 class="mb-3 text-dark text-center">Welcome with <span>&hearts;</span></h5>
                <p class="text-center lh-lg col-9 mx-auto">
                  Pasta Rice Bread Nuts Salmon Nuts Spinach broccoli Berries Red wine Beans Dark chocolate
                </p>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <h5 class="mb-1 text-dark">Todays recomendation</h5>
                <table class="table"">
                <tbody>
                    <tr>
                    <td>Dish</td>
                    <td>Drink</td>
                    </tr>
                    <tr>
                    <td>tomato Soup</td>
                    <td>Milkshake</td>
                    </tr>
                </tbody>
                </table>
            </div>
            </div>
        </div>
        <div class="text-center p-3">©<span id="copyright"></span></div>
        </footer>  
    </div>
    <!-- footer end -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>